%head
  %meta{charset: "utf-8"}/
  %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
  %title Kiosk
  / Bootstrap
  %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel: "stylesheet"}/
  %link{href: "/static/datepicker-local/css/bootstrap-datetimepicker.css", rel: "stylesheet"}/
  %link{href: "/static/css/kiosk.css", rel: "stylesheet"}/

  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
  %script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js")
  %script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js")

